.wrapper {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.heading {
  font-size: 2.4rem;
  font-family: var(--ff-butler);
  margin: 20px 0;
  font-weight: 400;
}

.password {
  padding: 15px;
  background-color: #f8f9fa;
  border: none;
}
