.wrapper {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.heading {
  font-size: 2.4rem;
  font-family: var(--ff-butler);
  margin: 20px 0;
  font-weight: 400;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  background-color: #f8f9fa;
  th {
    font-size: 1.4rem;
    padding: 12px 15px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #939393;
    font-weight: 500;
  }
}

th.order {
}

th.date {
}

th.status {
}

th.total {
}

th.action {
}

td.order {
}

td.date {
}

td.status {
}

td.total {
}

td.action {
}
