.img-item {
  width: 70px;
  height: 40px;
  color: var(--primary);
  align-self: center;
}

.heading {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
}

.desc {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #696969;
}
