@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Mrs+Saint+Delafield&display=swap");

// services
.service-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

// banner

.banner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.banner-item {
  width: 100%;
  position: relative;
  overflow: hidden;

  &:hover .banner-img {
    transform: scale3d(1.07, 1.07, 1);
  }
}

.banner-img {
  width: 100%;
  display: block;
  transition: all 0.5s ease;
  object-fit: cover;
}

.banner-body {
  position: absolute;
  text-align: center;
}

.text {
  text-align: left;
  font-weight: 300;
  -webkit-font-smoothing: auto;
  line-height: 1.4;
  font-size: 3.6rem;
  color: #363636;
  font-family: var(--ff-butler);
}

.banner-body.pos-left {
  top: 20%;
  left: 10%;
}

.banner-body.pos-center {
  top: 20%;
  left: 30%;
}

.link {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 40px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-top: 8px;
  }
}

// collection
.collection-wrapper {
  text-align: center;
}

//banner-wrapper-2

.banner {
  &:hover .banner-img {
    transform: scale3d(1.07, 1.07, 1);
  }
}

.banner-wrapper-2 {
  display: flex;
  height: 430px;
  gap: 20px;
}

.img-wrapper {
  display: flex;
  height: -webkit-fill-available;
  overflow: hidden;
}

.banner {
  position: relative;
}

.banner-item-1 {
  flex-grow: 1;
}

.banner-item-2 {
  flex-grow: 3;
}

.banner-item-1 .banner2-body {
  position: absolute;
  bottom: 25px;
  left: 40%;
  width: max-content;
  transform: translateX(-50%);
  color: #fff;
}

.banner-item-1 .banner2-desc {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.banner-item-1 .banner2-text {
  font-family: "Mr Dafoe", Sans-serif;
  font-size: 5.5rem;
}

.banner-item-2 .banner2-body {
  position: absolute;
  top: 100px;
  left: 10%;
  width: max-content;
  color: #000;
}

.banner-item-2 .banner2-desc {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.banner-item-2 .banner2-text {
  font-family: var(--ff-butler);
  font-weight: 300;
  font-size: 4.5rem;
  -webkit-font-smoothing: auto;
}
