// Catalog
.catalog {
  border: 1px solid #ebebeb;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .item {
    line-height: 50px;
    padding: 0 20px;
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;

    .icon {
      margin-left: 4px;
      font-size: 1.4rem;
    }
  }
}

// hover categories header

.shop-catalog {
  position: relative;
}

.categories-header-component {
  position: absolute;
  left: -110px;
  z-index: 1000;
}

.categories-header-component[opening] {
  animation: fade-up 0.5s linear forwards;
}

.categories-header-component[closing] {
  animation: fade-out 0.5s linear forwards;
}

.categories-header-component[display-non] {
  display: none;
}

@keyframes fade-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  40% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
