.carousel {
  text-align: center;
  position: relative;
}

.stack {
  position: absolute;
  left: 80px;
  z-index: 100;
  background-color: transparent;
  opacity: 1;
  border: 5px solid #fff;
}

.stack-wrapper {
  height: 462px;
  opacity: 0;
  background-color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.img {
  height: 55px;
  padding: 20px 0;
}
