.carousel {
  text-align: center;
  position: relative;
}

.heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.img {
  height: 55px;
  padding: 20px 0;
}

.content {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 20px);
  overflow-x: auto;
  user-select: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.content:hover .icon {
  opacity: 1;
}

.content::-webkit-scrollbar {
  display: none;
}

.icon {
  color: var(--primary);
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: var(--rounded-full);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.5s ease;
}

.left-btn {
  left: 115px;
  top: 175px;
  z-index: 100;
}

.right-btn {
  right: 115px;
  top: 175px;
  z-index: 100;
}

//

.wrapper {
  width: 100%;
  scroll-snap-align: start;
}

.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
