.footer-list {
  padding-left: 4px;
  li {
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 10px 4px;
  }
}

.heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 20px 0;
  letter-spacing: 1px;
  -webkit-font-smoothing: auto;
}
