.heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.img-collection {
  height: 55px;
  padding: 20px 0;
}

.collections {
  display: flex;
  gap: 20px;
}
